<!DOCTYPE html>
<html>
<head class="header">
  <title>ProjectSignup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preload" as="font" crossorigin="crossorigin" type="font/woff2" href="https://cdn.shopify.com/shopify-marketing_assets/static/Brandon--light.woff2" />
    <link rel="preload" as="font" crossorigin="crossorigin" type="font/woff2" href="https://cdn.shopify.com/shopify-marketing_assets/static/Brandon--medium.woff2" />
    <link rel="preload" as="font" crossorigin="crossorigin" type="font/woff2" href="https://cdn.shopify.com/shopify-marketing_assets/static/Brandon--bold.woff2" />

</head>
<body class="body">


<%= render 'layouts/header' %>

<%= yield %>

    
</body>
</html>
